.post--2021--water-line--gyro-cube .gyro-cube-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: center center;
  }
  
  .post--2021--water-line--gyro-cube .gyro-cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
  }
  
  .post--2021--water-line--gyro-cube .gyro-cube-side {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 100px;
  }
  
  .post--2021--water-line--gyro-cube .gyro-cube-front {
    background-color: #d50000;
    transform: translateZ(100px);
  }
  .post--2021--water-line--gyro-cube .gyro-cube-back {
    background-color: #aa00ff;
    transform: translateZ(-100px);
  }
  
  .post--2021--water-line--gyro-cube .gyro-cube-left {
    background-color: #304ffe;
    transform: translateX(100px) rotateY(90deg);
  }
  .post--2021--water-line--gyro-cube .gyro-cube-right {
    background-color: #0091ea;
    transform: translateX(-100px) rotateY(90deg);
  }
  
  .post--2021--water-line--gyro-cube .gyro-cube-top {
    background-color: #00bfa5;
    transform: translateY(-100px) rotateX(90deg);
  }
  .post--2021--water-line--gyro-cube .gyro-cube-bottom {
    background-color: #64dd17;
    transform: translateY(100px) rotateX(90deg);
  }
